@import '~styles/mixins';
@import '~styles/variables';

:host {
  display: block;
  margin-bottom: 50px;
}

.fixed-nav-bar {
  color: white;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  @include horizontal-gradient(rgb(61, 61, 63), rgb(174, 189, 201));
}

.title {
  margin: 10px;
}
